@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --bg-color: linear-gradient(45deg, #000000, #0c0717);
    --primary-color: #610094;
    --secundary-color: #3f0071;
    --terciary-color: #150050;
    --text-color: #e5e5e5;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font: normal normal 1em 'Poppins';
}

body {
    background: var(--bg-color);
}

header {
    text-align: center;
    margin-top: 1rem;
}

header h1 {
    font: normal bold 2em 'Poppins';
    color: var(--primary-color);
}

header h2 {
    font: normal normal 1em 'Poppins';
    color: var(--primary-color);
}

main {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(12, 7, 23, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    color: var(--text-color);
    margin: 2rem 17rem;
    padding: 3rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form .group-names, form .field, form input {
    border: none;
    outline: none;
    position: relative;
}


form input[type="text"], input[type="email"], input[type="password"]{
    width: 20rem;

    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--secundary-color);

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font: normal 200 1em 'Montserrat';
    color: var(--text-color);
}


input ~ label {
    position: absolute;
    top: 0.5rem;
    left: 0;

    color: var(--text-color);

    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-1.5rem);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

/*
    - Terminar design
    - Animação da label
    - Layout do form
*/